<!DOCTYPE html>
<html>
    <%- include("base") %>
    <body>
        <div class="bi2">
            <br><br>
        <div class="align">
            <h4 class="font"> Entered Email id is not found</h3> 
            <h4 class="font">please login again</h2>
            <br>
            <a href="/login"> <button type ="login" class="btn btn-primary"> log in</button> </a>
            <br>

            <h4>if you are a new user</h3> 
            <h4> register yourself</h4>
            <br>
            <a href="/signup"> <button type="signup" class="btn btn-success"> signup</button> </a>
        </div>
        
         
       
        </div>
    </body>
</html>