<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1> Welcome to template Embedded js</h1>
            <h2>here is my email <%= email %></h2>
            <a href="/signup"> <button type="login">Login</button></a>
            <a href="/signin"> <button type="sign">sign</button></a>

        </body>
    </head>
</html>