<!DOCTYPE html>
<html>
    <%- include("base") %>
    <body >
        <div class='bi'>
            
            <br>
            <div class="centertext">
                <div class="font">
                    <h1><b>Hi there, Welcome to the homepage</b></h1>
                </div>
            </div>
        
        </div>
    </body>
</html>
<!-- 1234567890 -->